<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Outlet Site - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Results</h1>
    <p>Results for {{ query }}:</p>
    
    <div class="search-container">
        {% for result in results %}
            <div class="result-item">
                <div class="search-result-image">
                    <img src="{{ url_for('static', filename='images/' + result['image']) }}" alt="{{ result['description'] }}">
                </div>
                
                <div class="search-result-details">
                    <h3>{{ result['description'] }}</h3>
                    <p>Categories: {{ result['categories'] }}</p>
                    <p>Cost: ${{ result['cost'] }}</p>
                    <a href="{{ url_for('product_detail', product_no=result['product_no']) }}" class="viewdetails">Details</a>
                </div>
            </div>
        {% endfor %}
        
    </div>

    <a href="{{ url_for('home') }}" class="backbutton">Back</a>
    
</body>
</html>
